:root {
  --main-font-family: "Playfair Display", serif;
  --text-font-family: "Poppins", sans-serif;
  --background-header: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  --text-color: #fff;
}

@media (max-width: 960px) {
  .descriptions {
    font-size: 14px !important;
    text-align: center;
  }
  .title {
    font-size: 35px !important;
    text-align: center;
  }
}

header {
  background: var(--background-header);
  text-align: center;
  padding: 160px 20px;
  border-radius: 4px;
  color: var(--text-color);
  font-family: var(--text-font-family);
}
.greetings {
  font-size: 36px;
  font-weight: bold;
}
h1 {
  font-family: var(--main-font-family);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-size: 24;
  font-weight: normal;
}
.btn-style {
  padding: 15px 30px !important;
}

.introduction {
  font-family: var(--text-font-family);
  font-size: 18px;
}
.title {
  font-family: var(--main-font-family);
  font-size: 50px;
}

.descriptions {
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 2;
}
